body{
  background: rgb(250,250,250);
}
.container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

@media only screen and (max-width: 600px) {
  .img {
    width:90%;
    margin:0 auto;
  }
}